extends include/docwrap

append config
	- var subTitle = '| Home'
	- var keywords = ''
	- var description = ''
	- var currentPage = 'home.html'

block content
	#home.wrapper
		img(src="assets/images/00-share/test1.jpg", alt="")
		img(src="assets/images/00-share/test2.png", alt="")
		img(src="assets/images/00-share/test3.gif", alt="")


	
block style

block script


